* {
    margin:0;
    padding: 0;
    list-style: none;
  }
  
  #menu {
      background: #F1551D;
      display: table;
      width: 100%;
  
  }
  
  #menu ul  {list-style: none;}
  
  #menu ul  li {display: inline;}
  
  #menu ul li a { font: 13px verdana, arial, tahoma, sans-serif;
                  color: #000;
                  background:#F1551D;
                  text-decoration: none;
                  float: left;
                  padding: 5px 10px;
                  margin-left: 1px;
  }
  
  #menu ul li a:hover { color: white;
                        background: #F1551D;
  
  }


 body{
     background-color: #121214;
    color: #a8a8b3;
 } 

 footer {
     background: #F1551D;
     color: #000;
     position:absolute;
     bottom:0;
     width:100%;
 }

 img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
 }

h1 {
    text-align: center;
    padding: 3%;
}

.texto {
    padding-top: 5%;
}

 .p1 {
    text-align: center;
    padding-top: 5%;
 }

 .p2 {
    padding-left: 1%; 
    text-align: justify;
    width: 48%; float: left;
 }

 .p3 {
    text-align: justify;
    width: 48%; float: right;
 }

 .exp{
    padding-left: 10%;
    width: 40%; float: left;
 }

 .form{
    width: 40%; float: right;
    padding-left: 10%
 }

 .cent {
    text-align: justify; 
    padding-top: 5%;
 }

 #area {
    padding-top: 1%;
 }

.prod1{
    text-align: justify;
    width: 39%; float: left;
    padding-left: 10%;  
}

.prod2{
    text-align: justify;
    width: 39%; float: right;
    padding-right: 10%; 
}

.pr{
   text-align: center;     
}
